
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');




.navbar
{
    background-color: #8B8B81;
    border-radius: 30px;
    
    
    
}
.pagetitle
{
    margin-left: 50px;
}
.navbar li
{
    float: left;
    list-style: none;
    margin: 13px 20px;
    
}

.navbar ul
{
    overflow: auto;
}

.navbar li a
{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.navbar li a:hover
{
    color: black;
    
}

.search
{
    float: right;
    color: white;
    padding: 12px 75px;
}

.navbar input 
{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}

body
{
    background-color:#708090;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
h2 
{
    color: white;
    padding: 15px;
    position: absolute;
    font-size: 60px;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}