@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body 
{
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
}

/* Light Mode */
body.light {
    background-color: white;
    color: black;
  }
  
  /* Dark Mode */
  body.dark {
    background-color: #333;
    color: white;
  }
  
  /* Toggle Switch Styles */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    border: 2px solid black;
    width: 90%;
    background: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 20px; /* Adjust padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
}

@media (min-width: 600px) {
    .container {
    border: 2px solid black;
    width: 325px;
    background: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 20px; /* Adjust padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  }
}

h1 {
    font-size: 48px;
    font-weight: 650;
    color: #1452c5; /* Change the header text color */
    margin-bottom: 20px; /* Add margin below the header */
}

.btn {
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 2px solid black;
    width: 75%;
    font-size: 26px;
    margin-top: 5px;
    padding: 10px 15px; /* Adjust padding */
}

.btn:hover {
    cursor: pointer;
    background-color: #407ff3;
    color: white;
}

.btn-home {
    border-radius: 5px;
    color: black;
    background-color: rgb(56, 240, 86);
    border: 2px solid black;
    width: 75%;
    font-size: 26px;
    margin-top: 5px;
    padding: 10px 15px; /* Adjust padding */
}

.btn-home:hover {
    cursor: pointer;
    background-color: #407ff3;
    color: white;
}


.toggle-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  
  .toggle-label {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s;
  }
  


  
 
  
