* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'REM', sans-serif;
    
  }

  body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #007BFF, #ff0000);
    /* You can adjust the gradient colors and direction here */
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    
  }

  .container {
    width: 100%;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    height:auto;
    border: solid 2px white;
  }

  @media (min-width: 600px) {
    .container {
    width: 50%;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    height:auto;
    border: solid 2px white;
  }
}


  .txt {
    padding-top: 10px;
    font-size: auto;
  }

  .inp {
    font-size: auto;
    padding: 5px;
    color: white;
    border-radius: 5px;
    border: solid 2px white;
    width: 50%;
    text-align: center;
    background: transparent;
    font-size: auto;
  }

  .btn {
    border-radius: 5px;
    background: transparent;
    font-size: auto;
    color: white;
    padding: 5px;
    width: 35%;
    border: solid 2px white;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  #calc-btn {
    width: 70%;
  }

  .btn:hover {
    cursor: pointer;
    border: solid 2px white;
  }

  #hdr {
    padding-bottom: 15px;
  }

  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(100%);
  }


 

  