@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #099433;
}

.container
{
    border: 2px solid white;
    width: 250px;
    background: #fff;
    border-radius: 8px;
    text-align: center;
}

