@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1452c5;
    
}

.container
{
    border: 2px solid white;
    width: 450px;
    background: #fff;
    border-radius: 8px;
    text-align: center;
}

.btn
{
    border-radius: 5px;
    color: white;
    background-color: black;
    border: 2px solid white;
    width: 50%;
    font-size: 22px;
    margin-top: 5px;
    padding-left: 5px;
    
}
.btn:hover
{
    cursor:pointer;
}

.btn-home
{
    border-radius: 5px;
    color: white;
    background-color: rgb(41, 153, 14);
    border: 2px solid white;
    width: 50%;
    font-size: 22px;
}

.btn-home:hover
{
    cursor:pointer
}
